.card_slot {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    --front_rotation: 0deg;
    --back_rotation: 0deg;
}

.card_slot img.card_slot_img {
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(240, 240, 240);
    text-shadow: -1px -1px 0 #00000060, 1px -1px 0 #00000060,
        -1px 1px 0 #00000060, 1px 1px 0 #00000060;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(10px, 2vw, 40px);
    padding: 5px 10px;
    border-radius: 5px;
}

.hit_wrapper {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}

.hit_wrapper .hit_logo {
    position: absolute;
    width: 50%;
    height: 45%;
    top: 10%;
    left: 25%;
    z-index: -1;
}

.hit_wrapper .hit_text {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(10px, 3vw, 50px);
    top: 35%;
    left: 45%;
}

@keyframes Draw {
    from {
        top: -200%;
    }
    to {
        top: 5%;
    }
}

.card_wrapper {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    perspective: 1000px;
}

.card {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    transition: transform 0.5s, opacity 1s;
    perspective-origin: center;
    transform-style: preserve-3d;
    background: none;
}

.card img {
    width: 100%;
    height: 100%;
}

.front {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    transform: rotateY(180deg) rotate(var(--front_rotation));

    background: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    width: 100%;
    height: 100%;
    z-index: 4;
    transform: rotate(var(--back_rotation));

    backface-visibility: hidden;
    background: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.undraw {
    opacity: 0;
}

.card.draw {
    opacity: 1;
}

.card.flipped {
    transform: rotateY(180deg);
}
