.intro {
    position: absolute;
    z-index: 9999;
    background-color: black;
    width: 100%;
    height: clamp(8%, 6vw, 15%);
    top: 70%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1.5s ease;
    animation: fadeIn 0.8s ease-in 0s forwards,
        fadeOut 0.8s ease-in 1.5s forwards;
}

.intro img {
    filter: sepia(100%) hue-rotate(190deg) saturate(450%);
    margin-top: -43%;
    max-width: 30%;
    height: auto;
}

.intro-text {
    position: absolute;
    color: #6495ed;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(40px, 6vw, 100px);
    line-height: 1;
    text-align: center;
    letter-spacing: clamp(2px, 1vw, 20px);
}

.over {
    filter: contrast(1000) brightness(0);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1.5s ease, width 1.5s ease-out;
}

.over.show {
    z-index: 9999;
    opacity: 1;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in 0s forwards,
        size_down 0.5s ease-out 0s forwards;
}

.over img {
    width: 90%;
}

@keyframes size_down {
    from {
        width: 120%;
    }
    to {
        width: 100%;
    }
}
